body
{
    background-color:lightcyan
}    

.textbold
{
    font-style:oblique
}

.normaltext
{
    font-size: 20px;
    font-style:normal
}

.textborder
{   
    border:2px solid
}

.textred
{
    color:red
}

.button1
{
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    color:cornsilk
}

.button1:active {
    background: brown;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: black;
  }

li:nth-child(odd) {color: lightgray}
li:nth-child(even) {color: lightblue}