body
{
    background-color:lightcyan
}    

.textbold
{
    font-style:oblique
}

.normaltext
{
    font-size: 20px;
    font-style:normal
}

.textborder
{   
    border:2px solid
}

.textred
{
    color:red
}

li:nth-child(odd) {color: lightgray}
li:nth-child(even) {color: lightblue}